<section class="section-title">
    <h2 class="h4">
        <i class="bi bi-chat-dots me-2 text-primary"></i>
        Hablemos
    </h2>

    <div class="col-lg-12">
        <form action="https://formspree.io/f/mpqezryz" method="POST">
            <div class="my-4">
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Tu nombre"
                    aria-label="Tu nombre"
                    required
                />
            </div>

            <div class="mb-4">
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="tuemail@ejemplo.com"
                    aria-label="tuemail@ejemplo.com"
                    required
                />
            </div>

            <div class="mb-4">
                <textarea
                    class="form-control"
                    id="message"
                    name="message"
                    rows="5"
                    placeholder="Escribe tu mensaje..."
                    aria-label="Escribe tu mensaje..."
                    required
                ></textarea>
            </div>

            <button type="submit" class="col-lg-12 btn btn-primary">
                Enviar Mensaje
            </button>
        </form>
    </div>
</section>
