---
const currentYear = new Date().getFullYear();
---

<footer class="border-top">
    <div class="container">
        <p class="mb-0 small">
            © <span id="y">{currentYear}</span>
            David González Córdoba. Todos los derechos reservados.
        </p>
    </div>
</footer>
